.custom-shape-divider-bottom-1735071463 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1735071463 svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 180px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1735071463 .shape-fill {
    fill: #e16720a3;
}