.landing-section {
    background: linear-gradient(180deg, #e15320, #ffbb00a4, rgba(0, 0, 0, 0));
    color: white;
    padding: 100px ;
    height: 34vh;
    
}

.landing-heading {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.landing-subheading {
    font-size: 2rem;
    font-weight: 400;
}

.landing-date {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 20px;
}

h1,
p {
    margin: 0;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

    
    .landing-heading {
        font-size: 2.5rem;
    }

    .landing-subheading,
    .landing-date {
        font-size: 1.2rem;
    }

    .text-right {
        text-align: center;
    }

    .text-left {
        text-align: center;
    }
}